.bg {
    background-color: rgb(46, 44, 43);
}

.bg-img {
    background: url(kepek/Photo-10.jpg);
}

body {
    color: white;
    background-color: rgb(20, 20, 20);
}

.w3-bar {
  background-color: #111;
}

.w3-button {
  color: #ffcc00;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.w3-black {
  background-color: #1a1a1a;
}